* {
    --color-primaire: #00A19A;
    --color-primaire-p1: #006E69;
    --color-primaire-m1: #35B1AB;
    --color-secondaire: #393D97;
    --color-ternaire: #E14D25;
    --font: 'Raleway', Arial, 'Helvetica Neue', sans-serif;
    --font-title: 'Lato', 'Times New Romans', sans-serif;
  
    font-family: var(--font);
    font-size: 16px;
    margin: 10px;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    color: var(--color-secondaire);
    text-align: left;
    font-weight: 100;
}

h1 {
    font-size: 2rem;
    color: var(--color-primaire);
    text-align: center;
    margin-top: 25px;
}

h2 {
    font-size: 1.5rem;
    margin-top: 15px;
}

h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

a {
    color: initial;
}

a:visited {
    color: var(--color-secondaire);
}

a.button {
    display: inline-block;
    color: white;
    background-color: var(--color-primaire);
    padding: 5px 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

a.button.big {
    padding: 10px;
}
  
input, textarea {
    outline: none;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid var(--color-primaire);
    padding: 2px;
    border-radius: 2px;
}

input:focus, textarea:focus {
    border: 1px solid var(--color-primaire-m1);
    box-shadow: 0 0 5px var(--color-primaire-p1);
}

#app {
    margin: 0;
}

.transparent {
    margin: 0;
    padding: 0;
}

.bg-cp {
    background-color: var(--color-primaire) !important; 
}

.bg-cs {
    background-color: var(--color-secondaire) !important; 
}

.bg-ct {
    background-color: var(--color-ternaire) !important; 
}

.edit-button, .edit-button i {
    color: var(--color-primaire-m1);
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}

h1.edit-button {
    color: inherit;
}

div.ul {
    margin: 0;
    padding: 0 0 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#app div.ul:first-child {
    padding: 0;
}

span.li {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}

span.li i {
    width: 1.5rem;
    font-size: 28px;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

span.li .edit-button {
    width: 1.5rem;
}

span.li h3 {
    font-weight: bold;
    font-family: var(--font-title);
    font-size: 1.3rem;
    width: inherit;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}