* {
    --color-primaire: #00A19A;
    --color-primaire-p1: #006E69;
    --color-primaire-m1: #35B1AB;
    --color-secondaire: #393D97;
    --color-ternaire: #F42126;
    --font: 'Raleway', Arial, 'Helvetica Neue', sans-serif;
    --font-title: 'Lato', 'Times New Romans', sans-serif;
  
    font-family: var(--font);
    font-size: 16px;
    margin: 10px;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
    color: var(--color-secondaire);
    text-align: left;
    font-weight: 100;
}

h1 {
    font-size: 24px;
    color: var(--color-primaire);
    text-align: center;
    margin-top: 25px;
}

h2 {
    font-size: 20px;
    margin-top: 15px;
}

h3 {
    font-size: 16px;
    margin-top: 10px;
}

a {
    color: initial;
}

a:visited {
    color: var(--color-secondaire);
}

a.button {
    display: inline-block;
    color: white;
    background-color: var(--color-primaire);
    padding: 5px 10px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    text-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

a.button.big {
    padding: 10px;
}
  
input, textarea {
    outline: none;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid var(--color-primaire);
    padding: 2px;
    border-radius: 2px;
}

input:focus, textarea:focus {
    border: 1px solid var(--color-primaire-m1);
    box-shadow: 0 0 5px var(--color-primaire-p1);
}

#app {
    margin: 0;
}

.bg-cp {
    background-color: var(--color-primaire) !important; 
}

.bg-cs {
    background-color: var(--color-secondaire) !important; 
}

.bg-ct {
    background-color: var(--color-ternaire) !important; 
}